.wIcon {
    background: rgba(238, 238, 238, 0.534) !important;
    align-items: center !important;
}

.wIcon  p {
    font-weight: bold !important;
    font-size: 28px !important;
    padding-top: 10px !important;
    /* margin-right: 10px !important; */
}

.wIcon, table {
    border-radius: 5px !important;
}